.advice-box-1 {
  background-color: #65486a;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  align-content: space-evenly;
  width: 80%;
  margin-bottom: 30px;
  flex-direction: column;
}

.advice-box-2 {
  background-color: #a48aa8;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  align-content: space-evenly;
  width: 80%;
  margin-bottom: 30px;
  flex-direction: column;
}

.advice-box-3 {
  background-color: #a2bca2;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  align-content: space-evenly;
  width: 80%;
  margin-bottom: 30px;
  flex-direction: column;
}

.big-box-r{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
}

.big-box-l{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

/* the rounded corner */
#rounded-corners {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners2 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners3 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners4 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners5 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners6 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners7 {
  border-radius: 0px 15px 15px 0px;
}

#rounded-corners8 {
  border-radius: 0px 15px 15px 0px;
}


.form-box {
  background-color: #995FA3;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.title-box {
  background-color: #995FA3;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  
}

.text-box {
  background-color: #995FA3;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 0px 0px 0px 40px
}

.right-box {
  display: flex;
  justify-content: center;
}

.left-box {
  display: flex;
  justify-content: flex-start;
}

h1 {
  padding-left: 15px;
  font-size: 65px;
}

.header-bod{
  padding-left: 15px;
  padding-right: 45px;
  font-size: 25px;
}